main{
    flex-flow: column nowrap;
    height: 100%;
}
header{
    display: flex;
    background-color: #F2F2F2;
    padding: 15px 0;
}
header>div:first-of-type{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header>div:last-of-type{
    flex: 1 1 0;
}
header>div{
    padding: 0 25px;
}
header a{
    color: #282828;
    text-decoration: none;
}

form{
    flex: 1 1 0;
    overflow-y: scroll;
}

form>div{
    display: flex;
}
form>div>div:first-of-type{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    padding: 25px;
}
form>div>div:last-of-type{
    flex: 1 1 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #CCC;
}
form>div>div{
    padding: 0 25px;
}

form select{
    padding: 10px 25px;
    width: 228px;
}

#info>div:last-of-type{
    padding-top: 25px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}
#info>div>div{
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}
#info>div>div input{
    padding: 10px 25px;
    border: 1px solid #CCC;
}
#info>div>div label{
    width: 35px;
    background-color: #CCC;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#info img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.3);
}

input[type=submit]{
    display: block;
    width: 150px;
    margin: 25px auto;
    padding: 15px 0;
    background-color: #0285FF;
    color: #FFF;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#imgProfil{
    padding: 0 !important;
}
#imgProfil>input{
    border: none !important;
}